* {
    color: aliceblue;
}

p {
    font-size: 1.3em;
    margin: 0px;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://mcdn.wallpapersafari.com/medium/61/46/M9OEBW.jpg);
    background-size: contain;
    
}

header {
    background-color: rgb(16, 4, 0);
    padding: 10px;
    position: fixed;
    border-radius: 5px;
    z-index: 10;
}

a {
    text-decoration: none;
}

.titre {
    margin-top: 70px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 3em;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 2.7em;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Nom {
    margin-top: 0px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

section {
    margin-bottom: 50px;
    padding: 50px;
    border: 0.5mm ridge rgba(16, 4, 0, 0.812);
    border-radius: 10px;
}

.photo {
    text-align: center;
}

.image1 {
    width: 300px;
    border-radius: 5px;
}


h3 {
    text-align: center;
    padding: 10px;
    margin: 60px;
    font-size: 2em;
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
    font-family: monospace;
}

.projet {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imageprojets {
    display: flex;
    justify-content: center;
    background-color: rgba(16, 4, 0, 0.812);
    padding: 30px;
    border-radius: 5px;
}

.imgprojet {
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.imgprojet:hover {
    width: 100%;
}

.lang {
    list-style: none;
    font-size: 2em;
    display: flex;
    justify-content:space-between;
    padding: 50px;
    margin: 0px;
    flex-wrap: wrap;
}

.langageframwork {
    background-color: rgba(16, 4, 0, 0.812);
    border-radius: 5px;
}

.key :hover {
    animation: spin 1s ;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact {
    display: flex;
    justify-content: space-around;
}

footer {
    margin: 50px;
}

.ctcsize {
    width: 50px;
    margin: 30px;
}


@media screen and (max-width: 385px){
    .image1 {
        width: 180px;
        border-radius: 5px;
    }
    
    h3 {
        visibility: hidden;
    }

    
.contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    font-size: 0.8em;
    margin: 0px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imageprojets {
    display: flex;
    justify-content: center;
    background-color: rgb(16, 4, 0);
    padding: 0px;
    border-radius: 5px;
}

.imgprojet {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.imgprojet:hover {
    box-shadow: 3px 5px 3px aliceblue;
}
}

@media screen and (max-width: 516px) {   
    p {
    font-size: 1.3em;
    margin: 0px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}